[build]
  publish = "."
  command = ""

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production]
  command = ""

[[headers]]
  for = "/*"
  [headers.values]
    Cache-Control = "max-age=604800"

[[headers]]
  for = "/*.html"
  [headers.values]
    Cache-Control = "max-age=3600"
